<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".castor/var/cache/test-results"
         executionOrder="depends,defects"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="main">
            <directory>console/tests</directory>
            <directory>context/tests</directory>
            <directory>functions/tests</directory>
            <directory>http/tests</directory>
            <directory>http-cgi-server/tests</directory>
            <directory>http-client/tests</directory>
            <directory>io/tests</directory>
            <directory>log/tests</directory>
            <directory>os/tests</directory>
            <directory>random/tests</directory>
            <directory>time/tests</directory>
            <directory>uri/tests</directory>
            <directory>uuid/tests</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".castor/var/cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">console/src</directory>
            <directory suffix=".php">context/src</directory>
            <directory suffix=".php">functions/src</directory>
            <directory suffix=".php">functions/lib</directory>
            <directory suffix=".php">http/src</directory>
            <directory suffix=".php">http-cgi-server/src</directory>
            <directory suffix=".php">http-client/src</directory>
            <directory suffix=".php">io/src</directory>
            <directory suffix=".php">log/src</directory>
            <directory suffix=".php">os/src</directory>
            <directory suffix=".php">random/src</directory>
            <directory suffix=".php">time/src</directory>
            <directory suffix=".php">uri/src</directory>
            <directory suffix=".php">uuid/src</directory>
        </include>
        <report>
            <html outputDirectory=".castor/var/coverage-html"/>
        </report>
    </coverage>
</phpunit>
